@font-face{
    font-family:'Heebo-Medium';
    src:url('../../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

.holidayCourse{
    width:85%;
    margin:0 auto;
    margin-top: 70px;
}

.holidayCourse>span{
    display: block;
    color:#101010;
    font-size:22px;
    font-family: Heebo-Medium;
    text-transform: uppercase;
}
    
.holidayCourse>hr{
    border:none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.24);
    margin-top: 20px;
    margin-bottom: 100px;
}
.holidayCourse .holCourseImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 100px;
}

.holidayCourse .holCourseImgs>div{
    width:270px;
    margin-bottom: 12.5px;
    margin-right: 12.5px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 10px -6px gray;
    transition: box-shadow 0.2s ease-in-out;
    transform:scale(.8);
    opacity:0.4;
    position:relative
}

.holidayCourse .holCourseImgs>div:nth-child(2){
    transform:scale(1.5);
    margin-left:50px;margin-right:60px;
    opacity:1;
}

.holidayCourse .holCourseImgs>div:hover{
    box-shadow: 0 4px 15px -1px gray;
}

.holidayCourse .holCourseImgs>div>img{
    height:200px;
    width:270px;
}

.holidayCourse .holCourseImgs>div>div{
    padding-top:10px;
    padding-bottom: 10px; 
    background: black;
    color:white;
}

.holidayCourse .navs{
    font-size:40px;
    color:#707070;
    margin-top:100px;
    box-shadow: none;
    text-align: center;
    margin-bottom:50px;
}

.holidayCourse .navs>i{
    margin-right: 100px;margin-left: 100px;
}

.holidayCourse .navs>i:hover{
    cursor:pointer;
}