@font-face{
    font-family:'Heebo-Medium';
    src:url('../../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Light';
    src:url('../../fonts/Heebo/Heebo-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Regular';
    src:url('../../fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.latNews{
    margin:0 auto;
    width:86%;
    margin-top:60px;
}

.latNews span{display: block;}

.latNews>span{
    display:block;
    font-family: Heebo-Medium;
    font-size: 22px;
    color:#101010;
    margin-bottom: 43px;
    width:300px;
    text-transform: uppercase;
}

.slider4{display:flex;}

.content1>span:nth-child(1){
    background-image: url(http://142.93.38.157:5000/static/img/default.jpg);
    padding-top:350px;
    background-size:cover;
    padding-left:30px;
    padding-bottom: 40px;
    border-radius:10px;
    display:inline-block;
    float:left;
    width:500px; 
}


.content1>span:nth-child(1)>span:nth-child(1){width:370px;}

.content1>span:nth-child(1)>span:nth-child(1)>span:nth-child(1){
    color:white;
    font-family:Heebo-Medium;
}

.content1>span:nth-child(1)>span:nth-child(1)>span:nth-child(2){
    color:gray;
}

.content1>span:nth-child(2){
    display: inline-block;
    float:left;
    width:570px;
    margin-left:30px;
}

.content1>span:nth-child(2)>span:nth-child(1){
    font-family: Heebo-Medium;
    color:#101010;
    font-size:22px;
}

.content1>span:nth-child(2)>span:nth-child(2){
    color:#9b9b9b;
    font-family: Heebo-Regular;
}

.content1>span:nth-child(2)>span:nth-child(3){
    font-family: Heebo-Regular;
    color:#101010;
    font-weight: bold;  
}