@font-face{
    font-family:'Heebo-Regular';
    src:url('../../fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Medium';
    src:url('../../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

.heading{
    font-size:20px;
    font-family:Heebo-Regular;
    margin-top:40px;
    margin-bottom: 30px
}

.locations{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.locations img{
    width:170px;
    height:140px;
    border-radius: 5px;
}

.locations span{
    display: block;
    position: relative;
    text-align: left;
    top:-30px;
    color:white;
    margin-left: 5px;
}

@media screen and (max-width:800px){
    body .heading{font-size:6.5vw;}   
    body .locations img{width:40vw;height:35vw;}
}