@font-face{
    font-family:'Heebo-Medium';
    src:url('../../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Regular';
    src:url('../../fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Light';
    src:url('../../fonts/Heebo/Heebo-Light.ttf') format('truetype');
}

.flex1{
    display:flex;
    background-color: rgba(159, 159, 159,0.2);
    flex-direction: row;
    justify-items: space-around;
    margin-top:70px;
    position: relative;
}

.flex1>div:nth-child(1){
    width:30%;
    margin-left:136px;
}

.flex1>div:nth-child(1)>span{display:block;}
.flex1>div:nth-child(1)>span:nth-child(1){
    font-family: Heebo-Medium;
    color:#101010;
    font-size:22px;
    text-transform: uppercase;
    margin-top:94px;
    margin-bottom:20px;
}

.flex1>div:nth-child(1)>span:nth-child(2){
    font-family: Heebo-Light;
    font-size: 48px;
    color:#707070;
    margin-bottom: 5px;
}

.flex1>div:nth-child(1)>span:nth-child(3){
    font-family: Heebo-Regular;
    color:#101010;
    font-size:18px;
    line-height:30px;
    margin-bottom: 55px;
}

.flex1>div:nth-child(1)>div{
    color:#9b9b9b;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 2px solid #ffac00;
    width:135px;
    margin-bottom: 50px;
}

.flex1>div:nth-child(1)>div:hover{cursor: pointer;}
.flex1>img{
    width:56.213%;
    min-height:100%;
    margin-left:50px;
    display:block;
    position: absolute;
    right:0;
}


@media screen and (max-width:700px){
    body .flex1>div:nth-child(1){
        width:40%;
    }
    
    body .flex1>div:nth-child(1)>span:nth-child(2){
        font-size:4.4vw;
    }

    body .flex1>div:nth-child(1){
        margin-left: 20px;
    }

    body .flex1>div:nth-child(1)>span:nth-child(3){
        font-size:2vw;
        line-height: 10px;
        margin-bottom: 10px;
    }

    body .flex1>div:nth-child(1)>span:nth-child(1){
        font-size: 3vw;
        margin-top:20px;
    }

    body .flex1>div:nth-child(1)>div{
        font-size: 2vw;
        max-width: 45%;
        margin-bottom: 20px
    }

    body .flex1>img{
        width:50%;
    }


}