@font-face{
    font-family:'Heebo-Medium';
    src:url('../../fonts/Heebo/Heebo-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Light';
    src:url('../../fonts/Heebo/Heebo-Light.ttf') format('truetype');
}

@font-face{
    font-family:'Heebo-Regular';
    src:url('../../fonts/Heebo/Heebo-Regular.ttf') format('truetype');
}

.articlesSection{
    width:85%;
    margin:0 auto;
    margin-top: 60px;
}


.articlesSection>span{
    display:block;
    font-size:22px;
    font-family: Heebo-Medium;
    text-transform: uppercase;
}

.slick-prev::before{
    content: "<";
    color: black;
    font-size: 30px;
    margin-top: 10px;
}

.slick-next::after{
    content: ">";
    color: black;
    font-size: 30px;
}

.slider6>div img{
    height:370px;
    width:370px;
    border-radius: 50%;
    display: block;
}
.slider6 .singleCard>span{display:block;}
.slider6 .singleCard{
    display: flex;
    flex-direction: row;
}

.slider6 .singleCard>span:nth-child(1){
    width:55%;
    display: inline-block;
    margin-left: 50px;
    margin-top:80px;
}

.slider6 .singleCard>span:nth-child(1)>span:nth-child(1){
    font-family: Heebo-Medium;
    color:#101010;
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
    width:80%;
}

.slider6 .singleCard>span:nth-child(1)>span:nth-child(2){
    color:#9b9b9b;
    font-size: 14px;
    font-family: Heebo-Medium;
    
}

.slider6 .singleCard>span:nth-child(1)>span:nth-child(3){
    color:#9b9b9b;
    font-size:12px;
    font-family:Heebo-Medium;
    padding-left:10px;padding-right:10px;
    background: black;
    border-radius:5px;
    margin-left:5px;
}

.slider6 .singleCard>span:nth-child(1)>span:nth-child(4){
    display:block;
    margin-top: 5px;
    line-height:25px;
}

.slider6 .singleCard>span:nth-child(2){
    float:right;
}

@media screen and (max-width:800px){
    body .articlesSection>span{font-size:6vw;}
    body .slider6>div img{height:60vw;width:60vw;}
    body .slider6 .singleCard>span:nth-child(1){margin:2vw;width:95%;display:block;}
    body .slider6 .singleCard>span:nth-child(2){float:none;display:block;width:60vw;margin:0 auto;}
    body .slider6 .singleCard{flex-direction:column-reverse;margin-top:5vh;}
}